@page
@using Public_transport.Models
@model Public_transport.Pages.All_StopsModel
@{
    int namber = 1;
}
<head>
    <script src="~/lib/list.js/list.js"></script>
    <link rel="stylesheet" type="text/css" href="list.css"/>
</head>
<body>
<div class="text-center">
    <h1 class="display-6">Выберите остановку!</h1>
        <div id="users">
            <input class="search" placeholder="Искать здесь..." type="search"/>
            <ul class="list" style="list-style: none;">
                @foreach (Stop Stop in Model.ResAllStops)
                {
                    <li class="navbar-brand"><a class="name" href="/Transport?IdStops=@namber&NameStop=@Stop.Name">@Stop.Name</a></li>
                    ++namber;
                }
            </ul>
        </div>
    <script>
        var options = {
            valueNames: ['name', 'born']
        };

        var userList = new List('users', options);
        </script> 
</div>
</body>
