@page
@model Public_transport.Pages.BusesModel
@{
    int i = 1;
    int a = 17;
}

<div class="text-center">
    <ul style="list-style: none;">
    @foreach (PublicTransport Bus in Model.ResBus)
    {
            <li><a class="navbar-brand" href="/Stops?IdTransport=@a&NameTransport=@Bus.Name&TypeTransport=@Bus.Type">@Bus.Name</a></li>
        if(i%2==0)
            {<br>
            }
            ++i;
            ++a;
        }
    </ul>
   
</div>
@section BusesStyle {
    <link rel="stylesheet" href="~/css/BusesStyle.css" />
}
