@page
@model Public_transport.Pages.BusesModel
@{
    int indent = 1;
    int idTransport = 17;
}

<div class="center">
    @foreach (PublicTransport Bus in Model.ResBus)
    {
        string[] NameArray= Bus.Name.Split(new string[] { "  " }, StringSplitOptions.RemoveEmptyEntries);
        if (indent % 2 != 0)
        {
            <a class="gradient-button1" href="/Stops?IdTransport=@idTransport&NameTransport=@Bus.Name&TypeTransport=@Bus.Type">
                <span style="font-size: 200%;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">@NameArray.First()</span> @NameArray.Last()
            </a>
        }
        if (indent % 2 == 0)
        {
            <a class="gradient-button2" href="/Stops?IdTransport=@idTransport&NameTransport=@Bus.Name&TypeTransport=@Bus.Type">
                <span style="font-size: 200%;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">@NameArray.First()</span> @NameArray.Last()
            </a>
            <br>
        }
        ++indent;
        ++idTransport;
    }
</div>
@section BusesStyle {
    <link rel="stylesheet" href="~/css/BusesStyle.css" />
}
