@page
@model Public_transport.Pages.BusesModel
@{
    int i = 1;
}

<div class="text-center">
    <h1 class="display-4">Выберите Автобус!</h1>
    
    <ul style="list-style: none;">
    @foreach (PublicTransport Bus in Model.ResBus)
    {
        <li><a class="navbar-brand" asp-area="" asp-page="/Stops?Type=@Bus.Type">@Bus.Name</a></li>
        if(i%2==0)
        {<br>}
        ++i;
    }
    </ul>
   
</div>

