@page
@model IndexModel
@using Public_transport.Models
@{
    ViewData["Title"] = "";
}
<ul>
    <li>
        <a href="/Trolleybuses?Type=T">
            <i class="fa fa-facebook"></i>
            <span>ТРОЛЛЕЙБУСЫ</span>
        </a>
    </li>
    <li>
        <a href="/Buses?Type=A">
            <i class="fa fa-google-plus"></i>
            <span>АВТОБУСЫ</span>
        </a>
    </li>
</ul>
@section Styles{
    <link rel="stylesheet" href="~/css/IndexStyles.css"/>
}