@page
@model IndexModel
@using Public_transport.Models
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-6">Выберите вид транспорта!</h1>
    <a class="navbar-brand" href="/Trolleybuses?Type=T">Троллейбусы</a>    
    <a class="navbar-brand" href="/Buses?Type=A">Автобусы</a>
</div>
