@page
@model Public_transport.Pages.Sign_in_Sign_upModel
@{
}
<div class="container">
    <h1>Войти</h1>
    <form>
        <div class="form-control">
            <input type="text" required>
            <label>Email</label>
        </div>
        <div class="form-control">
            <input type="password" required>
            <label>Пароль</label>
        </div>
        <button class="btn">Авторизоваться</button>
        <p class="text">
            " Нет учетной записи? "
            <a href="#">Регистрация</a>
        </p>
    </form>
</div>