@page
@using Public_transport.Models
@model Public_transport.Pages.StopsModel
@{
}
<div class="text-center">
    @if(@Model.Type=="T")
    {
        <h2>Троллейбус № @Model.Name</h2>
    }
    else
    {
        <h2>Автобус № @Model.Name</h2>
    }
    <ul style="list-style: none;">
    @foreach (Stop Stop in Model.ResNameStops)
    {
        foreach(Relationship_between_transports_and_stops rel in Model.ResIdStops)
        {
        <li><a class="navbar-brand" href="/Time?IdStops=@Stop.Id&IdTransport=@rel.IdTransport&NameTransport=@Model.Name&NameStop=@Stop.Name&TypeTransport=@Model.Type">@Stop.Name</a></li>
        break;
        }
    }
    </ul>
</div>