@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
}
<div class="text-center">
    <h1 class="display-4">Расписание с Понедельника по Пятницу!!!</h1>
    <p>@Model.TimeMonFri</p>
    
    <h1 class="display-4">Расписание с Субботы по Воскресенье!!!</h1>
    <p>@Model.TimeSaSu</p>
</div>