@page
@using Public_transport.Models
@model Public_transport.Pages.TimeModel
@{
}
<div class="text-center">
    <h1 class="display-6">Расписание с Понедельника по Пятницу!!!</h1>
    <code>@Model.TimeMonFri</code>
    
    <h1 class="display-6">Расписание с Субботы по Воскресенье!!!</h1>
    <code>@Model.TimeSaSu</code>
</div>