@page
@using Public_transport.Models
@model Public_transport.Pages.TransportModel
@{
    int index = 0;
}
<div class="text-center">
    <h2>Остановка: @Model.Name</h2>
    <h2>Ближайшее маршруты</h2>
    <h2>Троллейбусы</h2>
    <ul style="list-style: none;">
        @foreach (PublicTransport Name in Model.ResName)
        {
            if (Name.Type == "T")
            {
                
            }

            if (index == 0)
            {
                
            }
        }
    </ul>
    <h2>Автобусы</h2>
    <ul style="list-style: none;">
        @foreach (PublicTransport Name in Model.ResName)
        {
            if (Name.Type == "A")
            {

            }

        }
    </ul>
    <details>
    <summary>Все маршруты</summary>
    <h2>Троллейбусы</h2>
    <ul style="list-style: none;"> 
    @foreach (PublicTransport Name in Model.ResName)
    {
        if (Name.Type == "T")
        {
            <li><a class="navbar-brand" href="/Time?IdStops=@Model.ID&IdTransport=@Name.Id&NameTransport=@Name.Name&NameStop=@Model.Name&TypeTransport=@Name.Type">@Name.Name</a></li>
            ++index;
        }

        if (index==0)
        {
            <li>На данной остановке маршрутов нет</li>
            break;
        }            
    }
    </ul>
    <h2>Автобусы</h2>
    <ul style="list-style: none;">
        @foreach (PublicTransport Name in Model.ResName)
    {
        if (Name.Type == "A")
        {
                <li><a class="navbar-brand" href="/Time?IdStops=@Model.ID&IdTransport=@Name.Id&NameTransport=@Name.Name&NameStop=@Model.Name&TypeTransport=@Name.Type">@Name.Name</a></li>
        }

    }
    </ul>
    </details>
</div>