@page
@model Public_transport.Pages.TrolleybusesModel
@{
    int indent = 1;
    int idTransport = 1;
}
<div class="center">
    <ul style="list-style: none;">
    @foreach (PublicTransport Troll in Model.ResTroll)
    {
            <li><a class="gradient-button" href="/Stops?IdTransport=@idTransport&NameTransport=@Troll.Name&TypeTransport=@Troll.Type">@Troll.Name</a></li>
            if (indent % 2 == 0)
            {<br>
            }
            ++indent;
            ++idTransport;
        }
    </ul>
</div>
@section TrolleybusesStyle {
    <link rel="stylesheet" href="~/css/TrolleybusesStyle.css" />
}