@page
@model Public_transport.Pages.TrolleybusesModel
@{
    int i = 1;
    int a = 1;
}
<div class="text-center">
    <ul style="list-style: none;">
    @foreach (PublicTransport Troll in Model.ResTroll)
    {
            <li><a class="navbar-brand" href="/Stops?IdTransport=@a&NameTransport=@Troll.Name&TypeTransport=@Troll.Type">@Troll.Name</a></li>
        if (i % 2 == 0)
            {<br>
            }
            ++i;
            ++a;
        }
    </ul>
</div>