@page
@model Public_transport.Pages.TrolleybusesModel
@{
    int indent = 1;
    int idTransport = 1;
}
<div class="center">
    @foreach (PublicTransport Troll in Model.ResTroll)
    {
        if (indent % 2 != 0)
        {
            <a class="gradient-button1" href="/Stops?IdTransport=@idTransport&NameTransport=@Troll.Name&TypeTransport=@Troll.Type">@Troll.Name</a>
        }
        if (indent % 2 == 0)
        {
            <a class="gradient-button2" href="/Stops?IdTransport=@idTransport&NameTransport=@Troll.Name&TypeTransport=@Troll.Type">@Troll.Name</a>
            <br>
        }
        ++indent;
        ++idTransport;
    }
</div>
@section TrolleybusesStyle {
    <link rel="stylesheet" href="~/css/TrolleybusesStyle.css" />
}