body {
}
.center
{
    text-align:center;
}
.TextTime {
    animation: pulsate 1.5s infinite alternate;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #006400, 0 0 0.8rem #006400, 0 0 2.8rem #006400, inset 0 0 1.3rem #006400;
}
.TextTime1 {
    font-size: 400%;
    padding: 8px;
    color: #fff;
    
}
.TextTime2 {
    font-size: 200%;
    padding: 8px;
    color: #fff;
    margin-bottom: 10px;

}
.TextTime3 {
    margin-left: 500px;
    margin-right: 500px;
    animation: pulsate 1.5s infinite alternate;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #006400, 0 0 0.8rem #006400, 0 0 2.8rem #006400, inset 0 0 1.3rem #006400;
}
.time {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #006400 0%, #0e0d0d 51%, #006400 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

    .gradient-button:hover {
        background-position: right center;
    }