body {
}

.center {
    text-align: center;
}

.gradient-button1 {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #006400 0%, #0e0d0d 51%, #006400 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

    .gradient-button1:hover {
        background-position: right center;
    }

    .gradient-button1:first-letter {
        font-size: 200%;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

.gradient-button2 {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #006400 0%, #0e0d0d 51%, #006400 100%);
    background-position: center right;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

    .gradient-button2:hover {
        background-position: center left;
    }

    .gradient-button2:first-letter {
        font-size: 200%;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }